/*Your CSS SHould go here*/
h1 {
	text-align: center;
}

body {
	background-color: #008080;
}

.myFont{
	font-family: "MS Sans Serif";
	text-shadow: 0.5px 0px white, 1.5px 0px white; color: transparent; letter-spacing: 1px;
}

.myFontBlue{
	font-family: "MS Sans Serif";
	text-shadow: 0.5px 0px white(206, 200, 200), 1.5px 0px white; color: blue; letter-spacing: 1px;
}

div.points{
	left: 2%;
	width: 100%;
	position: relative
}
div.myFont{
	font-family: "MS Sans Serif";
	text-shadow: 0.5px 0px white, 1.5px 0px white; color: transparent; letter-spacing: 1px;
}

.pointSize{
	font-size: 20px;
}

#paraHeadline {
	text-align: center;
	font-family: "MS Sans Serif";
	text-shadow: 0.5px 0px purple, 1.5px 0px purple; color: transparent; letter-spacing: 1px;
}

#para1 {
	text-align: center;
	font-family: "MS Sans Serif";
	text-shadow: 0.5px 0px white, 1.5px 0px white; color: transparent; letter-spacing: 1px;
}
  
img.windows95 {
	position: absolute;
	left: 10px;
	bottom: 10px;
	border: 3px solid black;
	width: 500px;
	height: auto;
}

img.emirates {
	position: absolute;
	left: 70%;
	top : -18%;
	width: 350px;
	height: auto;
}

img.BOA {
	position: absolute;
	left: 63%;
	top : 60%;
	width: 170px;
	height: auto;
}

img.MacBook {
	position: absolute;
	left: 26.7%;
	top : 64%;
	width: 200px;
	height: auto;
}

p.imageLink{
	position: absolute;
	left: 0.7%;
	top : 57%;
	width: 510px;
	height: auto;
	font-family: "MS Sans Serif";
	text-shadow: 0.5px 0px white, 1.5px 0px white; color: transparent; letter-spacing: 1px;
}
h4.textShoutoutL {
	position: absolute;
	left: 87%;
	top : 0%;
	width: 250px;
	height: auto;
	border: 3px solid black;

}

h4.textShoutoutSo {
	position: absolute;
	left: 27%;
	top : 80%;
	bottom: -0px;
	width: 180px;
	height: auto;
	border: 3px solid black;

}

h4.textShoutoutSh {
	position: absolute;
	left: 62.5%;
	top : 80%;
	bottom: -0px;
	width: 170px;
	height: auto;
	border: 3px solid black;

}

table, th, td {
	border: 1px solid black;
	border-collapse: separate;
}

div.tableRandom{
	position: absolute;
	left: 50%;
	top : 15%;
	bottom: -0px;
	width: 500px;
	height: auto;
	font-size: 35px;

}

img.animated-gif{
	width: 400px;
	height: auto;
}

div.about-page{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 25%;
	border: 3px solid black;
    font-size: 14.5px;
}
iframe.video{
	position: absolute;
	left: 37%;
	bottom: 10px;
	width: 25%;
	border: 3px solid black;
    font-size: 14.5px;
}


li {
    font-size: 14px;
    margin-left: 10px;
	list-style-type: circle;
	font-size: 35px;
}
 